.score {
    position: absolute;
    width: 1024px;
    height: 256px;
    left: 50%;
    transform: translateX(-50%);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 500ms;

    &.show {
        transition-delay: 500ms;
        transform: translateX(-50%) scale(1);
    }

    &.hide {
        transform: translateX(-50%) scale(0);
    }

    &.left {
        &.CT {background-image: url("./../../assets/score-ct-left.png")}

        &.T {background-image: url("./../../assets/score-t-left.png")}

        .win-logo {
            right: 0;
        }

        .win-score {
            left: 13px;
        }

        .win-name {
            left: 180px;
        }
    }

    &.right {
        &.CT {background-image: url("./../../assets/score-ct-right.png")}

        &.T {background-image: url("./../../assets/score-t-right.png")}

        .win-logo {
            left: 0;
        }

        .win-score {
            right: 13px;
        }

        .win-name {
            right: 180px;
        }
    }

    &.CT {}

    &.T {}

    .win-logo {
        position: absolute;
        width: 292px;
        height: 256px;
        background-color: rgba(255, 255, 255, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 500ms;

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    .win-score {
        position: absolute;
        width: 140px;
        height: 90px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(var(--color-panel-primary), 1);
        font-weight: 900;
        font-size: 70px;
        text-align: center;
        transition: all 500ms;
    }

    .win-name {
        position: absolute;
        width: 540px;
        height: 90px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: white;
        font-weight: 900;
        font-size: 50px;
        text-align: center;
        transition: all 500ms;
    }


}