.bt-info {
    position: absolute;
    z-index: 3;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 500ms;

    &.show {
        transition-delay: 500ms;
        opacity: 1;
    }

    &.hide {
        transition-delay: 0ms;
        opacity: 0;
    }

    .bt-logo {
        position: absolute;
        top: 20px;
        z-index: 3;
        width: 85px;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .bt-bo {
        position: absolute;
        z-index: 3;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
        gap: 10px;
        top: 135px;

        .box {
            width: 17px;
            aspect-ratio: 1;
            background-color: black;

            &.win {
                background-color: white !important;
                filter: drop-shadow(0 0 5px white)
            }
        }

    }

    .bt-score {
        position: absolute;
        z-index: 3;
        top: 130px;
        font-size: 200px;
        font-family: "Highrise";
        color: white;
        text-shadow: 0 0 5px black;
    }

    .bt-name {
        position: absolute;
        z-index: 3;
        top: 570px;
        color: white;
        font-family: "Highrise";
        font-size: 120px;
        width: 500px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}