.logo {
    position: absolute;
    width: 280px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    top: 0;

    &.left {
        left: 370px;
    }

    &.right {
        right: 370px;
    }

    img {
        max-height: 100%;
        max-width: 100%;
    }
}