.win {
    position: absolute;
    z-index: 5;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms;

    &.show {

        .win-background {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }

        .win-text {
            transition-delay: 500ms;
            transform: translateY(0px);
            letter-spacing: 40px;
        }
    }

    &.hide {

        .win-background {
            transition-delay: 500ms;
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        }

        .win-text {
            transform: translateY(400px);
            letter-spacing: 0px;
        }
    }

    &.CT {
        .win-background {
            background-color: rgba(var(--color-ct), 1);
        }
    }

    &.T {
        .win-background {
            background-color: rgba(var(--color-t), 1);
        }
    }

    .win-background {
        position: absolute;
        z-index: 1;
        inset: 0;
        transition: clip-path 500ms ease;
    }

    .win-text {
        position: absolute;
        z-index: 2;
        color: white;
        font-size: 350px;
        text-transform: uppercase;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.45);
        transition: transform 400ms, letter-spacing 4000ms;
    }


}