.tactical {
    position: absolute;
    inset: 0;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease;
    background-color: rgba(0, 0, 0, 0.4);

    &.show {
        backdrop-filter: blur(15px);
        //clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        opacity: 1;

        .tactical-time {
            transition-delay: 500ms;
            opacity: 1;
        }
    }

    &.hide {
        transition-delay: 500ms;
        backdrop-filter: blur(0px);
        //clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        opacity: 0;

        .tactical-time {
            transition-delay: 0ms;
            opacity: 0;
        }
    }

    &.left {}

    &.right {}

    &.CT {
        .tactical-bar {
            background-color: rgba(var(--color-ct), 1);
        }
    }

    &.T {
        .tactical-bar {
            background-color: rgba(var(--color-t), 1);
        }
    }



    .tactical-bar {
        position: absolute;
        z-index: 2;
        inset: 0;
    }

    .tactical-time {
        position: absolute;
        z-index: 3;
        font-size: 400px;
        color: white;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
        letter-spacing: 15px;
        transition: opacity 500ms ease;
    }

}

.technical {
    position: absolute;
    width: 1200px;
    height: 200px;
    top: 1130px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
    font-size: 50px;
    transform: translateX(-50%);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./../../assets/tec.png");
    filter: drop-shadow(0 0 10px black);
    transition: all 500ms;

    &.show {
        opacity: 1;
    }

    &.hide {
        opacity: 0;
    }
}