
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "./fonts/Morganite/morganite.css";


.App {
  font-family: "Morganite", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}


:root {
  --color-panel-primary: 0, 0, 0;
  --color-t: 247, 171, 7;
  --color-ct: 1, 169, 231;
}